{% extends "layout.html" %}
{% block header %}
<div id="navbar">
  <div class="current navbaritem">visual</div>
  <div class="navbaritem"><a href="/sabermas">saber más</a></div>
  <div class="navbaritem"><a href="/leyelectoral">leyelectoral.es</a></div>
  <div class="navbaritem"><a href="/contacto">contacto</a></div>
</div>
{% endblock %}
{% block content %}
<div id="wrapper">
  <div id="logo">
      <div id="sharebuttons">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_facebook"></a>
          <a class="addthis_button_twitter"></a>
          <a class="addthis_button_email"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ea149b04b1f716b"></script>
          <!-- AddThis Button END -->
      </div>
  </div>
  <div id="holder">
    <div id="current" class="background">
      <div id="notes"></div>
      <div id="notes2"></div>
      <div id="notes3"></div>
    </div>
    <div id="reform1" class="background"></div>
    <div id="reform2" class="background"></div>
    <div id="reform3" class="background"></div>
    <div id="reform4" class="background"></div>
    <div id="conclusions" class="background"></div>
    <div id="buttons">
      <div id="gofirst"></div>
      <div id="goprev"></div>
      <div id="gonext"></div>
      <div id="golast"></div>
    </div>
  </div>
</div>
{% for key, explanation in explanations %}
<div id="shortcontent-{{key}}" class="shortcontent" style="visibility:hidden;display:none;">{{ explanation | raw }}</div>
{% endfor %}

<script>
$(document).ready(function(){
    {% for provincia, results in votes %}
        DataStore.add({
            provincia : "{{provincia}}",
        });
        var prov = DataStore.detect(function(data){ return data.get('provincia') == '{{provincia}}'; });
        {% for party, result in results %}
            prov.addRow({
                label: "{{parties[party]|raw}}",
                amount: parseInt({{result}}, 10),
                oid: "{{party}}",
                color: "#{{colors[party]}}"
             });
        {% endfor %}
        prov.addRow({
           label:    "total",
           amount:    parseInt({{stats[provincia]['Censo']}}, 10),
           oid:      "total",
           statistical: true
        });
        prov.addRow({
           label:    "invalid",
           amount:    parseInt({{stats[provincia]['VNulos']}}, 10),
           oid:      "invalid",
           statistical: true
        });
        prov.addRow({
           label:    "blank",
           amount:    parseInt({{stats[provincia]['VBlanco']}}, 10),
           oid:      "blank",
           statistical: true
        });
        prov.addRow({
           label:    "nonvote",
           amount:  (parseInt({{stats[provincia]['Censo']}}, 10) - parseInt({{stats[provincia]['VCandidaturas']}}, 10)),
           oid:      "nonvote",
           statistical: true
        });
    {% endfor %}


    $('.shortcontent').each(function(index) {
        ContentStore.add({
            key: $(this).attr('id').replace("shortcontent-", ""),
            value: $(this).html()
        });
    });
    DataStore.trigger("redraw");
    Backbone.history.start();
});

</script>
{% endblock %}
