{% extends "layout.html" %}
{% block content %}

<style type="text/css" media="screen">
body,html{
  margin:0;
  background-color: #f4f4f4;
  font-family: "Trebuchet MS";
  color: #222;
  text-align: justify;
}
#header {
  height: 49px;
  background: url('views/header.png') repeat-x;
}
#logo{
  height: 50px;
  background: url('views/logo.png') no-repeat;
}
#wrapper {
  width: 1000px;
  margin: 0 auto;
}
#holder {
  float: left;
  margin: -215px 0;
  width: 1000px;
  height: 700px;
}
#gonext {
  width: 30px;
  cursor: pointer;
  margin: -610px 0 0 540px;
}
#goprev {
  width: 30px;
  cursor: pointer;
  margin: -20px 0 0 500px;
}
#notes {
  float: right;
  width: 480px;
  height: 280px;
  margin: 0;
  padding-right: 20px;
}
#notes2 {
  clear: left;
  width: 460px;
  height: 280px;
  padding-top: 5px;
}
#piebackground {
  width: 440px;
  height: 280px;
  float:left;
  margin: -585px 0 0 0;
  background-color: #969696;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;  
}
</style>
<div id="header"></div>
<div id="wrapper">
    <div id="logo"></div>
  <div id="holder">
      <div id="gonext">>></div>
      <div id="goprev"><<</div>
      <div id="notes"></div>
  </div>
  <div id="notes2"></div>
</div>

{% for key, explanation in explanations %}
<div id="shortcontent-{{key}}" class="shortcontent" style="visibility:hidden">{{ explanation | raw }}</div>
{% endfor %}

<script>
$(document).ready(function(){
    {% for provincia, results in votes %}
        DataStore.add({
            provincia : "{{provincia}}",
        });
        var prov = DataStore.detect(function(data){ return data.get('provincia') == '{{provincia}}'; });
        {% for party, result in results %}
            prov.addRow({
                label: "{{parties[party]|raw}}",
                amount: parseInt({{result}}, 10),
                oid: "{{party}}",
                color: "#{{colors[party]}}"
             });
        {% endfor %}
        prov.addRow({
           label:    "total",
           amount:    parseInt({{stats[provincia]['Censo']}}, 10),
           oid:      "total",
           statistical: true
        });
        prov.addRow({
           label:    "invalid",
           amount:    parseInt({{stats[provincia]['VNulos']}}, 10),
           oid:      "invalid",
           statistical: true
        });
        prov.addRow({
           label:    "blank",
           amount:    parseInt({{stats[provincia]['VBlanco']}}, 10),
           oid:      "blank",
           statistical: true
        });
        prov.addRow({
           label:    "nonvote",
           amount:  (parseInt({{stats[provincia]['Censo']}}, 10) - parseInt({{stats[provincia]['VCandidaturas']}}, 10)),
           oid:      "nonvote",
           statistical: true
        });
    {% endfor %}


    $('.shortcontent').each(function(index) {
        ContentStore.add({
            key: $(this).attr('id').replace("shortcontent-", ""),
            value: $(this).html()
        });
    });
    DataStore.trigger("redraw");
});

</script>
{% endblock %}
