{% extends "layout.html" %}
{% block content %}
<style type="text/css" media="screen">
#holder {
  margin: -350px 0 0 -350px;
  width: 700px;
  height: 700px;
  left: 50%;
  position: absolute;
  top: 50%;
}
</style>
<div id="holder"></div>
<script>
(function (raphael) {
    $(function () {
        var values = [],
            labels = [];
        {% for party, results in votes %}
            values.push(parseInt("{{results}}", 10));
            labels.push("{{parties[party]|raw}}");
        {% endfor %}
        raphael("holder", 700, 700).pieChart(350, 350, 200, values, labels, "#fff");
    });
})(Raphael.ninja());

$(function(){
    DataStore.add({
        people:     {{stats['Censo']}},
        votes:      {{stats['Votantes']}},
        blank:      {{stats['VBlanco']}},
        invalid:    {{stats['VNulos']}},
        parties:    {
            {% for party, results in votes %}
                "{{parties[party]|raw}}" : parseInt({{results}}, 10),
            {% endfor %}
        }

    });
});

</script>
{% endblock %}
