{% extends "layout.html" %}
{% block content %}

<style type="text/css" media="screen">
body,html{
  margin:0;
  background-color: #f4f4f4;
  font-family: "Trebuchet MS";
  color: #222;
  text-align: justify;
}
#header {
  height: 49px;
  background: url('views/header.png') repeat-x;
}
#logo{
  height: 50px;
  background: url('views/logo.png') no-repeat;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
}
#holder {
  float: left;
  margin: -215px 0;
  width: 960px;
  height: 1700px;
}
.gonext {
  width: 10px;
  cursor: pointer;
}
.goprev {
  width: 10px;
  cursor: pointer;
}
#gonext {
  margin: -995px 0 0 925px;
}
#goprev {
  margin: -20px 0 0 895px;
}
#gonext2 {
  margin: 240px 0 0 413px;
}
#goprev2 {
  margin: -20px 0 0 383px;
}
#golast {
  position: absolute;
  width: 10px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
#notes {
  float: right;
  width: 470px;
  height: 280px;
  padding-right: 20px;
  margin-top: -5px;
}
#notes2 {
  clear: left;
  width: 430px;
  height: 220px;
  padding-top: 1px;
}
#notes3 {
  height: 50px;
}
#reform1 {
  height: 200px;
  width: 450px;
}
.reformrules {
  float:left;
  width: 450px;
}
.reformparlament {
  float:left;
  width: 450px;
  height: 200px;
}
.reformresults {
  float:left;
  width: 130px;
}
h2{
  margin-bottom: 0;
}
</style>
<div id="header"></div>
<div id="wrapper">
    <div id="logo"></div>
  <div id="holder">
      <div class="gonext" id="gonext">>></div>
      <div class="goprev" id="goprev"><<</div>
      <div id="notes"></div>
      <div class="gonext" id="gonext2">>></div>
      <div class="goprev" id="goprev2"><<</div>
      <div id="notes2"></div>
      <div id="notes3"></div>
      <div id="reform1"></div>
  </div>
</div>

{% for key, explanation in explanations %}
<div id="shortcontent-{{key}}" class="shortcontent" style="visibility:hidden">{{ explanation | raw }}</div>
{% endfor %}

<script>
$(document).ready(function(){
    {% for provincia, results in votes %}
        DataStore.add({
            provincia : "{{provincia}}",
        });
        var prov = DataStore.detect(function(data){ return data.get('provincia') == '{{provincia}}'; });
        {% for party, result in results %}
            prov.addRow({
                label: "{{parties[party]|raw}}",
                amount: parseInt({{result}}, 10),
                oid: "{{party}}",
                color: "#{{colors[party]}}"
             });
        {% endfor %}
        prov.addRow({
           label:    "total",
           amount:    parseInt({{stats[provincia]['Censo']}}, 10),
           oid:      "total",
           statistical: true
        });
        prov.addRow({
           label:    "invalid",
           amount:    parseInt({{stats[provincia]['VNulos']}}, 10),
           oid:      "invalid",
           statistical: true
        });
        prov.addRow({
           label:    "blank",
           amount:    parseInt({{stats[provincia]['VBlanco']}}, 10),
           oid:      "blank",
           statistical: true
        });
        prov.addRow({
           label:    "nonvote",
           amount:  (parseInt({{stats[provincia]['Censo']}}, 10) - parseInt({{stats[provincia]['VCandidaturas']}}, 10)),
           oid:      "nonvote",
           statistical: true
        });
    {% endfor %}


    $('.shortcontent').each(function(index) {
        ContentStore.add({
            key: $(this).attr('id').replace("shortcontent-", ""),
            value: $(this).html()
        });
    });
    DataStore.trigger("redraw");
});

</script>
{% endblock %}
