{% extends "layout.html" %}
{% block content %}
<style type="text/css" media="screen">
#holder {
  margin: -350px 0 0 -350px;
  width: 700px;
  height: 700px;
  left: 50%;
  position: absolute;
  top: 50%;
}
</style>
<div id="holder"></div>
<script>



$(document).ready(function(){
    {% for party, results in votes %}
    DataStore.add({
        label: "{{parties[party]|raw}}",
        amount: parseInt({{results}}, 10),
        oid: "{{party}}",
        color: "#{{colors[party]}}"
    });
    {% endfor %}
    DataStore.setStats({
        total:    parseInt({{stats['Censo']}}, 10),
        invalid:  parseInt({{stats['VNulos']}}, 10),
        blank:    parseInt({{stats['VBlanco']}}, 10),
        nonvote:  (parseInt({{stats['Censo']}}, 10) - parseInt({{stats['VCandidaturas']}}, 10))
    });
    DataStore.trigger("redraw");
    DataStore.trigger("removeNonvoters");
});

</script>
{% endblock %}
