{% extends "layout.html" %}
{% block content %}

<style type="text/css" media="screen">
body,html{
  margin:0;
  background-color: #f4f4f4;
  font-family: "Trebuchet MS";
}
#header {
  height: 59px;
  background: url('views/header.png') repeat-x;
}
#logo{
  height: 50px;
  background: url('views/logo.png') no-repeat;
}
#wrapper {
  width: 1000px;
  margin: 0 auto;
}
#holder {
  margin: -215px 0;
  width: 1000px;
  height: 700px;
}
#chartbuttons{
  margin: -340px 0;
  width: 100px;
}
#gonext {
  width: 50px;
  cursor: pointer;
}
#goprev {
  width: 50px;
  cursor: pointer;
}
#notes {
  float: right;
  width: 500px;
  height: 300px;
  margin: 55px 20px 0 0;
}
</style>
<div id="header"></div>
<div id="wrapper">
    <div id="logo"></div>
  <div id="holder">
      <div id="chartbuttons">
        <div id="gonext">>></div>
        <div id="goprev"><<</div>
      </div>
      <div id="notes"></div>
  </div>
</div>

{% for key, explanation in explanations %}
<div id="shortcontent-{{key}}" class="shortcontent" style="visibility:hidden">{{ explanation | raw }}</div>
{% endfor %}

<script>
$(document).ready(function(){
    {% for provincia, results in votes %}
        DataStore.add({
            provincia : "{{provincia}}",
        });
        var prov = DataStore.detect(function(data){ return data.get('provincia') == '{{provincia}}'; });
        {% for party, result in results %}
            prov.addRow({
                label: "{{parties[party]|raw}}",
                amount: parseInt({{result}}, 10),
                oid: "{{party}}",
                color: "#{{colors[party]}}"
             });
        {% endfor %}
        prov.addRow({
           label:    "total",
           amount:    parseInt({{stats[provincia]['Censo']}}, 10),
           oid:      "total",
           statistical: true
        });
        prov.addRow({
           label:    "invalid",
           amount:    parseInt({{stats[provincia]['VNulos']}}, 10),
           oid:      "invalid",
           statistical: true
        });
        prov.addRow({
           label:    "blank",
           amount:    parseInt({{stats[provincia]['VBlanco']}}, 10),
           oid:      "blank",
           statistical: true
        });
        prov.addRow({
           label:    "nonvote",
           amount:  (parseInt({{stats[provincia]['Censo']}}, 10) - parseInt({{stats[provincia]['VCandidaturas']}}, 10)),
           oid:      "nonvote",
           statistical: true
        });
    {% endfor %}


    $('.shortcontent').each(function(index) {
        ContentStore.add({
            key: $(this).attr('id').replace("shortcontent-", ""),
            value: $(this).html()
        });
    });
    DataStore.trigger("redraw");
});

</script>
{% endblock %}
